{% extends "account/email/base_message.html" %}
{% load account %}
{% load i18n %}

{% block content %}{% autoescape off %}{% user_display user as user_display %}{% blocktrans with site_name=current_site.name site_domain=current_site.domain %}
<p>You're receiving this e-mail because somebody (and probably it was you) has given your e-mail address to register an account on <a href="https://adoptpet.eu/" target="_blank">AdoptPet</a>.</p>

<p>To activate your account, confirm your email</p> 
<a style="display: block;padding: 1em;width: max-content;border: 2px solid #5c6bc0;border-radius: 25em;text-decoration: none;color: #5c6bc0; font-size: 1.25em; font-weight: 700;margin:auto;" href="{{ activate_url }}" target="_blank">Confirm Email</a>
{% endblocktrans %}{% endautoescape %}{% endblock %}
