<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width" />
        <style>
            @import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
            @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;900&display=swap');
            p {
                font-size: 16px; 
                line-height: 150%;
                font-family: 'Poppins', sans-serif;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
            }
            @media screen and (max-width:375px){
                .head img {
                    margin: auto!important;
                    width: 120px;
                }
                .head span {
                    margin: auto!important;
                }
                .head {
                    display: flex;
                    flex-direction: column;
                }
            }
        </style>
    </head>
    <body style="margin: 0px; padding: 0px; text-size-adjust: 100%; overflow-y: hidden; background-color: #f8f9fa;">
        <table style="margin:auto;border-collapse: collapse;table-layout: fixed;min-width: 320px;max-width: 800px; width:100vw;background-color: #fff;" cellpadding="0" cellspacing="0" role="presentation">
            <thead>
                <div class="head" style="margin: 0 auto;max-width: 800px;min-width: 320px; width:100vw; text-align: center; background-color: #fff;">
                    <img style="margin-right: 2em;" src="https://adoptpet.eu/static/assets/img/logo.png" />
                    <span style="font-family: 'Lobster', cursive;color: #396e8f;font-size: 3em;display: inline-flex;margin-top: -1.75em;">AdoptPet</span>
                </div>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <div style="margin: 0 auto;max-width: 800px;min-width: 320px;overflow-wrap: break-word;word-wrap: break-word;word-break: break-word; padding: 1em;">
                            <p>Hello!</p>
                            <p>You're receiving this e-mail because {{name}} was interested in <a href="https://adoptpet.eu/animals/{{animal.id}}/">{{animal.name}}</a></p>
                            <p>{{name}} also left a message:</p>
                            <div style="max-width: 500px; min-width: 320px; padding: 1em 0; margin: 1em auto; border-top: 1px solid #396e8f; border-bottom: 1px solid #396e8f;">
                                <p>{{text}}</p>
                            </div>
                            <p>To answer {{name}} please use <a href="mailto:{{email}}">{{email}}</a></p>
                            <br />
                            <br />
                            <p>By the way, all requests you can see <a href="https://adoptpet.eu/dashboard/requests/">here</a></p>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div style="margin: 0 auto;max-width: 800px;min-width: 320px; width: 100vw;overflow-wrap: break-word;word-wrap: break-word;word-break: break-word; padding: 1em 0; background-color: #363636; color: #fff; text-align: center;">
                            <p style="font-size: 14px;">This email was sent by AdoptPet</p>
                            <p style="font-size: 14px;">For any questions please contact <a style="color:#fff;" href="mailto:info@adoptpet.eu">info@adoptpet.eu</a></p>
                            <p style="font-size: 14px;"><a style="color:#fff;" href="https://adoptpet.eu/" target="_blank">https://adoptpet.eu/</a></p>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </body>
</html>